---
import Image from "astro/components/Image.astro";
import HeroImage from "../../assets/images/services/service-man-1.png";
---

<div
  class="bg-base-200/50 rounded-4xl px-6 py-12 sm:p-4 flex flex-col sm:flex-row items-center justify-between gap-8"
>
  <div
    class="w-full sm:w-6/12 flex flex-col gap-4 sm:pl-4 text-center sm:text-left"
  >
    <h1 class="text-5xl sm:text-7xl font-extrabold uppercase">
      top-notch services, tailored for you
    </h1>
    <p class="text-lg">
      No matter your needs, from simple to complex, our team is here to provide
      the best solutions. We pride ourselves on delivering quality results that
      exceed expectations.
    </p>
  </div>
  <div class="w-full sm:w-6/12 relative">
    <Image
      src={HeroImage}
      alt="Hero Image"
      class="h-full w-full object-cover rounded-4xl"
    />
  </div>
</div>
