---
import SectionHead from "../../ui/section-head.astro";
import SvgColor from "../../ui/svg-color.astro";

const WHAT_YOU_GET = [
  {
    title: "Premium Products",
    description:
      "Stay ahead with smart devices that deliver performance, reliability, and innovation.",
    icon: "public/assets/icons/premium.svg",
  },
  {
    title: "Expert Consultation",
    description: "Zero guesswork. Advice that fits your needs perfectly.",
    icon: "public/assets/icons/expert.svg",
  },
  {
    title: "Tailored Solutions",
    description: "Custom strategies built to match your exact needs.",
    icon: "public/assets/icons/puzzle.svg",
  },
  {
    title: "Ongoing Support",
    description:
      "Support that sticks, because your satisfaction isn’t optional.",
    icon: "public/assets/icons/support.svg",
  },
];
---

<div>
  <SectionHead
    title="What You Get"
    description="Explore the benefits we offer with every service."
  />
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-8">
    {
      WHAT_YOU_GET.map((item) => (
        <div class="bg-base-200 p-4 rounded-4xl">
          <SvgColor
            iconPath={item.icon}
            className="w-12 h-12 text-base-content"
          />
          <h3 class="text-2xl font-bold">{item.title}</h3>
          <p class="text-base">{item.description}</p>
        </div>
      ))
    }
  </div>
</div>
