---
import SvgColor from "../../ui/svg-color.astro";

const WHAT_YOU_GET = [
  {
    title: "Premium Products",
    description: "Access to the latest and most reliable smart home devices.",
    icon: "public/assets/icons/premium.svg",
  },
  {
    title: "Expert Consultation",
    description: "Personalized advice to understand your unique needs.",
    icon: "public/assets/icons/expert.svg",
  },
  {
    title: "Tailored Solutions",
    description:
      "Custom strategies designed to meet your specific requirements.",
    icon: "public/assets/icons/puzzle.svg",
  },
  {
    title: "Ongoing Support",
    description: "Continuous assistance to ensure your success.",
    icon: "public/assets/icons/support.svg",
  },
];
---

<div>
  <h2 class="text-5xl font-extrabold uppercase">What you get</h2>
  <p class="text-lg">All our services come with</p>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-8">
    {
      WHAT_YOU_GET.map((item) => (
        <div class="bg-base-200 p-4 rounded-4xl">
          <SvgColor iconPath={item.icon} class="w-12 h-12 text-white" />
          <h3 class="text-2xl font-bold">{item.title}</h3>
          <p class="text-base">{item.description}</p>
        </div>
      ))
    }
  </div>
</div>
