---
const { title, description, gap, lang = "en" } = Astro.props;
---

<h2
  class:list={[
    "font-extrabold uppercase text-center ",
    gap,
    lang === "ar" ? "sm:text-right text-7xl" : "sm:text-left text-5xl",
  ]}
>
  {title}
</h2>
{
  description && (
    <p
      class:list={[
        "mb-4 text-center ",
        lang === "ar" ? "sm:text-right text-2xl" : "sm:text-left text-lg",
      ]}
    >{`${description}`}</p>
  )
}
