---
import Image from "astro/components/Image.astro";
import accessControlImage from "../../../assets/images/services/access-control.webp";
import cctvSystemsImage from "../../../assets/images/services/cctv-system.webp";
import fingerprintAttendanceImage from "../../../assets/images/services/fingerprint-system.webp";
import gateControlImage from "../../../assets/images/services/gate-control.webp";
import homeAutomationImage from "../../../assets/images/services/home-automation.webp";
import intercomSystemsImage from "../../../assets/images/services/intercom-system.webp";
import voipPhonesImage from "../../../assets/images/services/voip-phone.webp";
import wifiSystemsImage from "../../../assets/images/services/wifi-system.webp";
import SectionHead from "../../../ui/section-head.astro";

const SERVICES = [
  {
    title: "أتمتة المنزل",
    description:
      "مدعوم من ABB، يتيح لك التحكم الكامل في الإضاءة والمناخ والستائر والمزيد من هاتفك أو عبر الأوامر الصوتية.",
    image: homeAutomationImage,
  },
  {
    title: "التحكم في البوابة",
    description: "حلول بوابات آلية وتحكم عن بعد مصممة خصيصاً لممتلكاتك.",
    image: gateControlImage,
  },
  {
    title: "أنظمة كاميرات المراقبة",
    description: "كاميرات هيكفيجن عالية الدقة لمراقبة شاملة داخل وخارج المنزل.",
    image: cctvSystemsImage,
  },
  {
    title: "أنظمة الاتصال الداخلي",
    description:
      "اتصال سلس بين الغرف أو نقاط الدخول عبر حلول الاتصال الداخلي الموثوقة.",
    image: intercomSystemsImage,
  },
  {
    title: "التحكم في الدخول",
    description: "أنظمة دخول ذكية وآمنة مصممة لحماية منزلك أو عملك.",
    image: accessControlImage,
  },
  {
    title: "أنظمة الواي فاي",
    description:
      "تركيب شبكات UniFi احترافية لضمان اتصال سريع وموثوق في جميع أنحاء المنزل أو العمل.",
    image: wifiSystemsImage,
  },
  {
    title: "هواتف VoIP",
    description:
      "هواتف VoIP احترافية لمكالمات واضحة وموثوقة داخل المكتب أو حول العالم.",
    image: voipPhonesImage,
  },
  {
    title: "نظام الحضور بالبصمة",
    description:
      "أنظمة حضور بالبصمة آمنة وسريعة وفعالة لمتابعة الحضور دون عناء.",
    image: fingerprintAttendanceImage,
  },
];
---

<div>
  <SectionHead
    title="خدماتنا"
    description="استكشف مجموعة خدماتنا المصممة لرفع مستوى تجربتك."
    lang="ar"
  />
  <div class="mt-6 sm:grid-cols-2 gap-4 grid-cols-1 grid">
    {
      SERVICES.map((service) => (
        <div class="bg-base-200 flex flex-col sm:flex-row gap-0 sm:h-44 rounded-4xl p-2 items-center">
          <Image
            src={service.image}
            alt={`Image for ${service.title}`}
            class="h-full object-cover rounded-3xl sm:w-3/12"
          />
          <div class="sm:w-9/12 p-4">
            <p class="text-2xl font-bold">{service.title}</p>
            <p class="text-xl">{service.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
