---
import Image from "astro/components/Image.astro";
import TeamOne from "../../assets/images/team/team-1.jpg";
import TeamTwo from "../../assets/images/team/team-2.jpg";
import TeamThree from "../../assets/images/team/team-3.jpg";
import TeamFour from "../../assets/images/team/team-4.jpg";

const TEAM = [
  {
    name: "John Doe",
    role: "Founder & CEO",
    image: TeamOne,
  },
  {
    name: "Jane Smith",
    role: "Lead Engineer",
    image: TeamTwo,
  },
  {
    name: "Alice Johnson",
    role: "Projects Manager",
    image: TeamThree,
    bg: "bg-black",
  },
  {
    name: "Bob Brown",
    role: "Smart Home Specialist",
    image: TeamFour,
  },
];
---

<div>
  <h1 class="text-5xl font-extrabold uppercase">Meet Our Team</h1>
  <p class="text-lg mt-3 font-light mb-4">
    Our team loves transforming traditional homes into smart homes, its all
    about passion and innovation.
  </p>
  <div class="grid grid-cols-4 mt-8 gap-4">
    {
      TEAM.map((member) => (
        <div
          class:list={[
            "flex flex-col justify-center items-center gap-2 h-96 rounded-4xl pb-4 bg-base-200/40",
            "hover:bg-base-200 transition duration-300",
          ]}
        >
          <Image
            src={member.image}
            alt={member.name}
            class="w-full h-full object-cover p-2 rounded-4xl"
          />
          <div class="text-center">
            <h2 class="text-xl font-semibold">{member.name}</h2>
            <p class="text-md">{member.role}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
