---
import Image from "astro/components/Image.astro";
import contactUsImage from "../assets/images/contact-us-img-1.webp";
import ContactInfo from "../components/ar/ContactInfo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Us - Azzams Smart Home Technology">
  <div
    class="bg-base-200 rounded-4xl p-6 sm:p-4 xl:flex items-center justify-between gap-8 hidden font-ar"
  >
    <div
      class="w-6/12 bg-base-100 flex flex-col justify-center text-center gap-4 p-6 rounded-4xl"
    >
      <div>
        <h1 class="text-5xl font-extrabold uppercase">Lets Talk</h1>
        <h2 class="text-xl font-extrabold uppercase">Free Consultation</h2>
      </div>

      <ContactInfo
        classList={["flex justify-center items-center gap-1"]}
        iconClass="w-5 h-5"
        class="text-xl"
      />
    </div>

    <div class="w-6/12">
      <Image
        src={contactUsImage}
        alt="Contact Us"
        class="rounded-4xl w-full h-full object-cover"
      />
    </div>
  </div>

  <div
    class="rounded-4xl px-6 py-12 flex flex-col text-center items-center justify-center gap-8 xl:hidden relative font-ar text-white"
  >
    <div class="absolute inset-0 bg-black/65 rounded-4xl z-10"></div>
    <Image
      src={contactUsImage}
      alt="Hero Image"
      class="h-full w-full object-cover rounded-4xl z-0 absolute inset-0"
      loading="eager"
    />
    <div class="z-20">
      <h1 class="text-5xl font-extrabold uppercase">Lets Talk</h1>
      <h2 class="text-xl font-extrabold uppercase">Free Consultation</h2>
    </div>

    <ContactInfo
      classList={["text-white flex justify-center items-center gap-1"]}
      iconClass="text-white w-5 h-5"
      class="z-20 text-xl"
    />
  </div>
</Layout>
