---
import Image from "astro/components/Image.astro";
import contactUsImage from "../assets/images/contact-us-img-2.png";
import ContactUsForm from "../components/contact-us/contact-us-form.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Get Free Quote - Azzams Smart Home Technology">
  <div
    class="bg-base-200/50 rounded-4xl p-4 flex items-center justify-between gap-8"
  >
    <div class="flex flex-row gap-12 items-center justify-center">
      <div class="w-6/12 flex flex-col justify-center text-center gap-4 pl-4">
        <h1 class="text-5xl font-extrabold uppercase">Get free quote</h1>
        <p class="text-lg">
          We are here to help you make your house smarter. Please fill out the
          form below and we will get back to you as soon as possible.
        </p>
        <ContactUsForm />
      </div>
      <div class="w-6/12">
        <Image
          src={contactUsImage}
          alt="Contact Us"
          class="rounded-4xl w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</Layout>
