---
import AboutUsShort from "../components/home/about-us-short.astro";
import Hero from "../components/home/hero.astro";
import HowItWorks from "../components/home/how-it-works.astro";
import Partners from "../components/home/partners.astro";
import Products from "../components/home/products.astro";
import Services from "../components/home/services.astro";
import Testimonials from "../components/home/testimonials.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="flex flex-col gap-28">
    <Hero />
    <AboutUsShort />
    <Products />
    <Services />
    <HowItWorks />
    <Testimonials />
    <Partners />
  </div>
</Layout>
