---
import OurServices from "../components/services/our-services.astro";
import ServicesHero from "../components/services/services-hero.astro";
import WhatYouGet from "../components/services/what-you-get.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col gap-28">
    <ServicesHero />
    <OurServices />
    <WhatYouGet />
  </div>
</Layout>
