---

---

<div>
  <h2 class="text-5xl font-extrabold uppercase">Who we are</h2>
  <p class="text-lg">
    We are a company dedicated to providing innovative smart home solutions that
    enhance your living experience. Our products are designed with
    user-friendliness and efficiency in mind, making your home smarter and more
    connected.
  </p>
  <a href="/about" class="btn btn-stone-200 mt-4">Learn more about us</a>
  <!-- <div class="flex flex-col gap-8 mt-8">
    <div class="">
      <h3 class="text-3xl font-bold">Our Mission</h3>
      <p class="text-base">
        To revolutionize the way you interact with your home through
        cutting-edge technology and exceptional service.
      </p>
    </div>
    <div class="">
      <h3 class="text-3xl font-bold">Our Vision</h3>
      <p class="text-base">
        To be the leading provider of smart home solutions, making every home a
        smarter home.
      </p>
    </div>
    <div class="">
      <h3 class="text-3xl font-bold">Our Values</h3>
      <p class="text-base">
        We believe in integrity, innovation, and customer satisfaction as the
        cornerstones of our business.
      </p>
    </div>
  </div> -->
</div>
