---
import Image from "astro/components/Image.astro";
import HeroImage from "../../assets/images/hero-img.webp";
import Button from "../../ui/button.astro";
import HeroStats from "./hero-stats.astro";
---

<div
  class="bg-base-200/50 rounded-4xl p-4 flex items-center justify-between gap-8"
>
  <div class="w-6/12 flex flex-col gap-4 pl-4">
    <h1 class="text-7xl font-extrabold uppercase">
      Smart Home Technology Designed for Modern Luxury Living
    </h1>
    <p class="text-lg">
      Delivering advanced automation, security, and networking systems tailored
      to your needs.
    </p>
    <Button text="Get free quote" size="large" />
    <HeroStats />
  </div>
  <div class="w-6/12 relative">
    <Image
      src={HeroImage}
      alt="Hero Image"
      class="h-full w-full object-cover rounded-4xl"
    />
  </div>
</div>
