---

---

<div
  class="stats stats-vertical xl:stats-horizontal xl:bg-base-100 mt-8 z-20 rounded-4xl"
>
  <div class="stat place-items-center">
    <div class="dark:text-base-content">Satisfied Clients</div>
    <div class="stat-value">+150</div>
  </div>

  <div class="stat place-items-center">
    <div class="dark:text-base-content">Products Installed</div>
    <div class="stat-value">+2,400</div>
  </div>

  <div class="stat place-items-center">
    <div class="dark:text-base-content">Efficiency Improved</div>
    <div class="stat-value">+85%</div>
  </div>
</div>
