---
import Button from "../../ui/button.astro";
---

<div class="flex flex-col gap-8 justify-center items-center">
  <ul class="steps">
    <li class="step step-neutral">
      <span class="step-icon">1</span><div class="mt-2">
        <p class="font-bold">Consultation</p>
        <p>
          We discuss your needs and preferences to create a tailored solution.
        </p>
      </div>
    </li>
    <li class="step step-neutral">
      <span class="step-icon">2</span><div class="mt-2">
        <p class="font-bold">Installation</p>
        <p>
          Our team of experts will install your smart home devices with
          precision.
        </p>
      </div>
    </li>
    <li class="step step-neutral">
      <span class="step-icon">3</span><div class="mt-2">
        <p class="font-bold">Follow-up</p>
        <p>
          We provide ongoing support and maintenance to ensure your
          satisfaction.
        </p>
      </div>
    </li>
  </ul>

  <Button text="Get free quote" size="large" />
</div>
