---
import Image from "astro/components/Image.astro";
import abb from "../../assets/images/logos/abb.png";
import ezviz from "../../assets/images/logos/ezviz.png";
import hikvision from "../../assets/images/logos/hik-vision.png";
import ubiquiti from "../../assets/images/logos/ubiquiti.png";
---

<div>
  <h2 class="text-5xl font-extrabold uppercase">Our Partners</h2>
  <p class="text-lg">
    We collaborate with industry-leading brands to deliver the best smart home
    solutions.
  </p>

  <div class="grid grid-cols-4 gap-4 mt-8">
    <Image
      src={abb}
      alt="ABB"
      class="h-24 w-64 bg-base-200/40 object-contain p-2 rounded-xl"
    />
    <Image
      src={ezviz}
      alt="EZVIZ"
      class="h-24 w-64 bg-base-200/40 object-contain p-2 rounded-xl"
    />
    <Image
      src={hikvision}
      alt="Hikvision"
      class="h-24 w-64 bg-base-200/40 object-contain p-2 rounded-xl"
    />
    <Image
      src={ubiquiti}
      alt="Ubiquiti"
      class="h-24 w-64 bg-base-200/40 object-contain p-2 rounded-xl"
    />
  </div>
</div>
