---
import CameraIcon from "../../assets/icons/camera.svg";
import DoorLockIcon from "../../assets/icons/door-lock.svg";
import HomeHubIcon from "../../assets/icons/home-hub.svg";
import LightBulbIcon from "../../assets/icons/light-bulb.svg";
import SpeakerIcon from "../../assets/icons/speaker.svg";
import ThermostatIcon from "../../assets/icons/thermometer.svg";
import ProductCardSm from "../../ui/product-card-sm.astro";

const PRODUCTS = [
  {
    title: "Smart Home Hub",
    icon: HomeHubIcon,
  },
  {
    title: "Smart Thermostat",
    icon: ThermostatIcon,
  },
  {
    title: "Smart Light Bulb",
    icon: LightBulbIcon,
  },
  {
    title: "Smart Security Camera",
    icon: CameraIcon,
  },
  {
    title: "Smart Door Lock",
    icon: DoorLockIcon,
  },
  {
    title: "Smart Speaker",
    icon: SpeakerIcon,
  },
];
---

<div>
  <h2 class="text-5xl font-extrabold uppercase">Products</h2>
  <p class="text-lg">
    Explore our range of smart home products designed to enhance your living
    experience.
  </p>
  <div class="grid grid-cols-3 sm:grid-cols-6 gap-4 mt-8">
    {
      PRODUCTS.map((product) => (
        <ProductCardSm title={product.title} icon={product.icon} />
      ))
    }
  </div>
</div>
