---
import AboutUsShort from "../../components/ar/home/about-us-short.astro";
import Benefits from "../../components/ar/home/benefits.astro";
import Hero from "../../components/ar/home/hero.astro";
import HowItWorks from "../../components/ar/home/how-it-works.astro";
import Partners from "../../components/ar/home/partners.astro";
import Services from "../../components/ar/home/services.astro";
import Testimonials from "../../components/ar/home/testimonials.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout lang="ar" title="الصفحة الرئيسية - عزامز لتقنية المنازل الذكية">
  <div class="flex flex-col gap-28 font-ar">
    <Hero />
    <AboutUsShort />
    <Services />
    <Benefits />
    <HowItWorks />
    <Testimonials />
    <Partners />
  </div>
</Layout>
