---
import OurServices from "../../components/ar/services/our-services.astro";
import ServicesHero from "../../components/ar/services/services-hero.astro";
import WhatYouGet from "../../components/ar/services/what-you-get.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="الخدمات - عزامس لتقنية المنازل الذكية" lang="ar">
  <div class="flex flex-col gap-28 font-ar">
    <ServicesHero />
    <OurServices />
    <WhatYouGet />
  </div>
</Layout>
