@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
@import "tailwindcss-intersect";
@plugin "daisyui" {
  themes:
    cmyk --default,
    dim;
}
@theme {
  --font-sans: "Open Sans", sans-serif;
  --text-5xl: 2.75rem;
}
