@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "cmyk";
  default: true;
  --color-base-100: #ffffff;
  --color-base-200: #f7f7f7;
  --color-base-300: #f0f0f0;
  --color-base-content: #000000;
  --color-accent: #ffffff;
  --color-primary: #0ea5e9;
  --color-secondary: #a855f7;
}
@plugin "daisyui/theme" {
  name: "business";
  default: false;
  --color-base-100: #191919;
  --color-base-200: #292929;
  --color-base-300: #333333;
  --color-base-content: #ffffff;
  --color-accent: #000000;
  --color-primary: #0ea5e9;
  --color-secondary: #a855f7;
}
@theme {
  --font-sans: "Open Sans", sans-serif;
  --font-ar: "Beiruti", sans-serif;
  --text-5xl: 2.75rem;
}
@custom-variant dark (&:where([data-theme=business], [data-theme=business] *));
