---
import { ClientRouter } from "astro:transitions";
import "../assets/app.css";
import Container from "../ui/container.astro";
import Footer from "../ui/footer.astro";
import Navbar from "./navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <ClientRouter />
  </head>
  <body>
    <Navbar />
    <Container>
      <slot />
    </Container>
    <Footer />
  </body><script
    defer
    src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"
  ></script>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
