---
import Image from "astro/components/Image.astro";
import Logo from "../assets/logo.svg";
import Button from "../ui/button.astro";
---

<div
  class="backdrop-blur-xl bg-base-200/40 fixed left-1/2 transform -translate-x-1/2 top-3 z-50 px-4 flex flex-row items-center justify-between h-16 rounded-4xl w-[calc(100%-2rem)] lg:w-6/12 sm:mx-0"
>
  <div class="flex flex-row items-center gap-2 justify-between w-full">
    <Image src={Logo} alt="Azzams Logo" class="h-14 w-14" />
    <div class="flex flex-row gap-4 sm:gap-6 px-1 font-semibold text-md">
      <a href="/" class="hover:text-sky-500 active:text-sky-600">Home</a>
      <a href="/about">About</a>
      <a href="/services">Services</a>
      <a href="/contact-us">Contact</a>
    </div>
    <Button text="Get free quote" />
  </div>
</div>
