---
import SectionHead from "../../../ui/section-head.astro";
---

<div>
  <SectionHead
    title="Who we are"
    description="Azzams specializes in advanced home automation, Security, and networking solutions. Leveraging Trusted industry-leading brands, we deliver Turnkey smart home and business systems tailored To your exact needs. Our mission: provide seamless, Secure, and intelligent living environments with Unmatched reliability and local support."
  />
  <div class="flex flex-col items-center sm:items-start mt-4">
    <a href="/about" class="bg-base-300 px-4 py-2 rounded-4xl font-semibold"
      >Learn more about us</a
    >
  </div>
</div>
