---
import Button from "../../../ui/button.astro";
import SectionHead from "../../../ui/section-head.astro";
---

<div class="">
  <div class="text-center my-4">
    <SectionHead
      title="كيف تعمل الخدمة"
      description="تم تصميم العملية لتكون بسيطة وفعالة، لضمان حصولك على أفضل تجربة منزل ذكي."
    />

    <div class="flex flex-col gap-12 justify-center items-center mt-16">
      <ul
        class="steps steps-vertical sm:steps-horizontal w-full rounded-4xl p-4"
      >
        <li class="step">
          <span class="step-icon">1</span><div class="mt-2">
            <p class="font-bold">الاستشارة</p>
            <p class="px-6">نناقش احتياجاتك وتفضيلاتك لنصمم لك الحل المناسب.</p>
          </div>
        </li>
        <li class="step">
          <span class="step-icon">2</span><div class="mt-2">
            <p class="font-bold">التركيب</p>
            <p class="px-6">
              يقوم فريقنا من الخبراء بتركيب أجهزة المنزل الذكي بدقة عالية.
            </p>
          </div>
        </li>
        <li class="step">
          <span class="step-icon">3</span><div class="mt-2">
            <p class="font-bold">المتابعة</p>
            <p class="px-6">نقدم الدعم والصيانة المستمرة لضمان رضاك التام.</p>
          </div>
        </li>
      </ul>

      <Button text="Get free quote" size="large" />
    </div>
  </div>
</div>
