---
import ProductCardSm from "../../../ui/product-card-sm.astro";
import CameraIcon from "../../assets/icons/camera.svg";
import DoorLockIcon from "../../assets/icons/door-lock.svg";
import HomeHubIcon from "../../assets/icons/home-hub.svg";
import LightBulbIcon from "../../assets/icons/light-bulb.svg";
import SpeakerIcon from "../../assets/icons/speaker.svg";
import ThermostatIcon from "../../assets/icons/thermometer.svg";

const PRODUCTS = [
  {
    title: "وحدة تحكم المنزل الذكي",
    icon: HomeHubIcon,
  },
  {
    title: "منظم حرارة ذكي",
    icon: ThermostatIcon,
  },
  {
    title: "مصباح ذكي",
    icon: LightBulbIcon,
  },
  {
    title: "كاميرا أمان ذكية",
    icon: CameraIcon,
  },
  {
    title: "قفل باب ذكي",
    icon: DoorLockIcon,
  },
  {
    title: "مكبر صوت ذكي",
    icon: SpeakerIcon,
  },
];
---

<div>
  <h2 class="text-5xl font-extrabold uppercase">المنتجات</h2>
  <p class="text-lg">
    اكتشف مجموعتنا من منتجات المنزل الذكي المصممة لتعزيز تجربتك المعيشية.
  </p>
  <div class="grid grid-cols-3 sm:grid-cols-6 gap-4 mt-8">
    {
      PRODUCTS.map((product) => (
        <ProductCardSm title={product.title} icon={product.icon} />
      ))
    }
  </div>
</div>
